.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratingCardContainer {
    margin: 10px;
    width: 700px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.ratingCardTitle {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.ratingCardDescription {
    font-size: 16px;
    color: #ffffff;
}

.subElementContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.userDataWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userImage {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
}